html, body {
    
    margin: 0;
    height: 265vh;
    
}
  

body {
    display: flex;
    flex-direction: column;
}

/* inside main part*/
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main > * {
   flex: 1;
   padding:0% 15%;
   
}

.introduction, .footer {
    background-color: #1f2937;
}



/* inside introdution */
.introduction {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: white;
    padding-top: 2%;
    padding-bottom: 5%;
    
}
.introduction > * {
    
}
/* inside header */
.header {
    
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.logo {
    height: auto;
    width: 30px;
    margin-right: auto;
}


.header-list {
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.header-list > * {
    
    margin: 10px;
}

.header-list a {
    color: #E5e7eb;
    text-decoration: none;
}

/* inside hero */
.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 2 1 auto;
    margin-top: 5%;
    gap: 6%;
}

.hero > * {
    flex: 1;
}
    /* hero-image */
.hero .image-container {
    width: 30vw;

}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    /* hero-text */
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text, .header-link-text {
    font-size: 18px;
    color:#E5e7eb;
}

.hero button{
    color: white;
    padding: 5%;
    background-color: #3882F6;
    border-radius: 5%;
    border: 0ch;
    border-color: #3882F6;
}

/* inside informations */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;

}

.information-header-text {
    font-size: 30px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 5%;
}


/* inside illustrations */
.illustrations {
    display:flex;
    align-self: stretch;
    justify-content: center;
    margin-top: 3%;
    gap: 3%;


}

.illustrations > * {
    
}

    /* inside illustration */
.illustration {
    display: flex;
    flex-direction:column;
    gap: 5px;
    
}

.illustration .image-container {
    border:10px solid #1f2937;
    border-radius: 3%;
    width: 12rem;
    height: 12rem;
    background-image: url(./Images/bird\ in\ the\ twig.jpg);
}


.illustration img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.illustration-secondary-text {
    color: #6d7483;
}

/* inside quote */

.quote {
    background-color: #E5e7eb;
    color: #1f2937;
    font-weight: lighter;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author-of-quote {
    color: #1f2937;
    font-size: 20px;
    align-self: flex-end;
    text-align: end;
}

/* inside call-to-actionr */
.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.call-to-action-container {
    height: 30%;
    background-color: #3882F6;
    border: 10px solid #3882F6;
    padding: 0 9%;
    border-radius: 10px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.call-to-action-container .sign-up-button {
    margin-left: auto;
    width: 100px;
    height: 40px;
    background-color: #3882F6;
    border: 2px solid #E5e7eb;
    border-radius: 5px;
    color: #E5e7eb;
    font-weight: bolder;
}

.call-to-action-container .main-text {
    font-size: 22px;
}

.call-to-action-container .secondary-text {
    font-size: 16px;
}

/* footer */
.footer {
    padding: 20px;
    color: #E5e7eb;
    text-align: center;
}